

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

        /* ===== PAGE GRID LAYOUT ===== */
.container {
    display: grid;
    align-items: center;
}

 header {
    background-color: #1F3C88;
    color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
 }

.logo {
    font-family: Arial Black, sans-serif;
    font-size: 1.9rem;
    grid-row: 2;
}

#logo1 {
    width: 50%;
    height: auto;
}

nav {

    background-color: #00BFA6;
    text-align: center;
    padding: 10px;
    grid-row: 2;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color:#1F3C88
}

main {
    padding: 30px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 40px;
    align-items: center;
}
h3 {
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.subheading {
    text-align: left;
    padding-inline-start:20px ;
}
#old_family_picture {
    height: 400px;
    padding-left: 13%;
}

        /* ===== WELCOME SECTION GRID ===== */
.welcome {
    grid-column: 1;
    grid-row: 1;
}

#profile_pic {
    width: 100%;
    height: auto;
    grid-column: 2;
    border-radius: 25%;
}

.projects {
    grid-column: 1;
    display: grid;
}

.projects h3, ul {
    padding-left: 40%;
}

aside {
    grid-column: 2;
    text-align: center;
}

        /* ===== FORM STYLING ===== */
form {
    max-width: 200%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input, textarea {
    padding: 8px;
}

button {
    padding: 10px;
    background-color: #00BFA6;
    color: white;
    border: none;
    cursor: pointer;

}
/*****Table Styling**************/
table {
    border: #333333 dashed;
    display: flex;
}
th {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 1.1em;
    text-align: right;
}
td {
    border: #333333 solid;
}
.text {
    padding-left: 20px;
}
.link {
    color: #1F3C88;
}
.link :hover {
    color: #00BFA6;
    text-decoration: underline;
    background-color: rgba(20, 80, 10, .2)
}
/********thanks section *****/
.thanks {
    display: grid;
    text-align: right;
    color: #1F3C88;
    font-size: 1.1rem;
    text-decoration: wavy;
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 15px;
}
